body{
    color-scheme: dark;
    background-color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*{
    box-sizing: border-box;
    color: white;
    user-select: none;
}

canvas{
    border: 1px solid white;
    
}

.buttons{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

button{
    color: black;

}



form{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
